*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        
html{
    padding-top: 2rem;
    background: rgb(127, 177, 179);
}
    
.container{
    margin-right: 3rem;
}

.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.input-container{
    display: flex;
    margin-bottom: 1.5rem;
}
    
.input-container{
    height: 2rem;
    margin-right: 0.5rem;
}
    
.input-container-label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
    
.input-container-select{
    width: 170px;
    height: 2rem;
}
    
.table-Block{
    padding: 10px 10px;
    background: white;
    color: #000;
    border: none;
}
    
.table{
    width: 890px;
    background-color: rgb(218, 186, 118);
}